.How{
    width: 100%;
  background: #DFFFFD;
  align-items: center;
  margin:auto;
  border-radius: 100px;
margin-top: 10px;
  margin-bottom: 100px;
  

}
.How h2{
  font-weight: bold;
    text-align: center;
font-size: 100px;

}
.How p{
  font-weight: bold;
    text-align: center;
font-size: 40px;
}