 .footer{
    font-weight: bold;
    font-size: 30px;
    float:left;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 0;
  color:black;
  margin-top: 20px;
  }
  p{
    margin-right: 20px;
  }
 img{
    margin:5px;
  }
 a{
    color:black;
  }